.right-box {
  max-width: 450px;
  display: flex;
  gap: 10px;
  height: 125px;
  overflow: hidden;
}
.right-cover {
  width: 200px;
  height: 125px;
  border-radius: 10px;
}
.right-title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.channel-tittle {
  color: black;
}
