.body {
  width: 100%;
  height: 100vh;
  background-color: #f0f4f9;
}
.input-body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-in {
  width: 100%;
  height: 384px;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 28px;
  display: flex;
}
.google {
  width: 80px;
}
.form-body {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  height: 100%;
  justify-content: center;
  gap: 10px;
}
.information-input {
  height: 56px;
  border: 1px solid #747775;
  border-radius: 4px;
  font-size: 16px;
  margin: 1px 1px 0 1px;
  padding: 13px 15px;
}
.information-input:focus {
  outline: none;
  border: 1px solid #0b57d0;
}
.btns-body {
  text-align: right;
}
.btn {
  background-color: #0b57d0;
  border: 1px solid #0b57d0;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
}
.btn-in {
  color: #000;
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  font-weight: 700;
  margin-right: 5px;
}
.btn-in:hover {
  border-radius: 20px;
  background-color: #f1f0f0;
}
.info{
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgb(173, 0, 0);
  margin-right: 10px;
}
.info-icon {
  color: #ffff;
  font-size: 9px;
}
.in-correct {
  font-size: 14px;
  color: rgb(173, 0, 0);
}
.border-wrong {
  border: 1px solid rgb(173, 0, 0) !important;
}

/* check box */

.checkbox-wrapper-28 {
  --size: 20px;
  position: relative;
}

.checkbox-wrapper-28 *,
.checkbox-wrapper-28 *:before,
.checkbox-wrapper-28 *:after {
  box-sizing: border-box;
}

.checkbox-wrapper-28 .promoted-input-checkbox {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.checkbox-wrapper-28 input:checked ~ svg {
  height: calc(var(--size) * 0.6);
  -webkit-animation: draw-checkbox-28 ease-in-out 0.2s forwards;
  animation: draw-checkbox-28 ease-in-out 0.2s forwards;
}
.checkbox-wrapper-28 label:active::after {
  background-color: #e6e6e6;
}
.checkbox-wrapper-28 label {
  line-height: var(--size);
  cursor: pointer;
  position: relative;
}
.checkbox-wrapper-28 label:after {
  content: "";
  height: var(--size);
  width: var(--size);
  margin-right: 8px;
  float: left;
  border: 2px solid #1f1f1f;
  border-radius: 3px;
  transition: 0.15s all ease-out;
}
.checkbox-wrapper-28 svg {
  stroke: #0080d3;
  stroke-width: 3px;
  height: 0;
  width: calc(var(--size) * 0.6);
  position: absolute;
  left: calc(var(--size) * 0.21);
  top: calc(var(--size) * 0.2);
  stroke-dasharray: 33;
}

@-webkit-keyframes draw-checkbox-28 {
  0% {
    stroke-dashoffset: 33;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes draw-checkbox-28 {
  0% {
    stroke-dashoffset: 33;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

/* check end */
